[submodule "LS_COLORS"]
	path = LS_COLORS
	url = git@github.com:ElektroKotte/LS_COLORS.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim.git
