function setup-environment() {
	export PATH="<extra>:$PATH"
	echo 'did something'
}

ghostty-ssh() {
    TERM=xterm-256color command ssh "$@"
}
eval "$(pyenv init - zsh)"
eval "$(pyenv virtualenv-init -)"
eval "$(op completion zsh)"; compdef _op op
